.App {
  text-align: center;
}

.Cart{
  text-align: start;
  box-shadow: 0 4px 8px 0 gray;
  background: rgb(148, 158, 255);
  border-radius: 20px;
  min-width: 40vw;
  min-height: 20vw;
  margin-right: 5vw;
}

.MainGrid{
  display: block;
}

.radio{
  text-align: center;
}

.SideBar{
  display: inline-flex;
  justify-content: center;
}

.Options{
  box-shadow: 0 4px 8px 0 gray;
  background: rgb(148, 158, 255);
  border-radius: 20px;
  min-width: 40vw;
}

.ItemGrid{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-width: 100vw;
  width: 100%;
}